.form-box {
  width: 80%;
  padding: 2%;
  margin: 2% auto;
  color: red;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  transform: translateY(-3%);
}
.form-boxes{
    border: 2px solid black;
}
.form-button{
    width: 70%;
    padding: 2%;
    font-size: 160%;
    font-weight: normal;
}
.registration-login-page-container {
}

@media only screen and (max-width: 400px){
  .form-box{
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .form-button{
    margin-top: -1%;
    padding: 4%;
    width: 80%;
  }
}
