.form-box {
  width: 80%;
  padding: 2%;
  margin: 2% auto;
  color: red;
  background-color: white;
}
.form-boxes{
    border: 2px solid black;
}
.form-button{
    width: 70%;
    padding: 2%;
    font-size: 140%;
    font-weight: bold;
}
.registration-login-page-container {
}

@media only screen and (max-width: 400px){
  .form-box{
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
