body {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 17px;
}
.sidenav-container {
  text-align: center;
  position: fixed;
  width: 250px;
  height: 100vh;
}
.edit-profile-link-text{
  cursor: pointer;
  font-weight: bold;
  font-size: 130%;
  transition: all .3s;
}
.edit-profile-link-text:hover{
  color: #007BFF;
}
.profile-img-comtanier {
  width: 150px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
}
.profile-img-comtanier img {
  width: 120px;
  height: 120px;
  border-radius: 70px;
}
.user-name {
  margin-top: 1%;
  font-weight: bold;
}
button {
  margin-top: 15px;
}

/* STYLING FOR THE COLLECTION CARDS */
.collection-card {
  margin: 3% 5%;
  cursor: pointer;
}

.collection-card:hover {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .1);
}


/* STYLING FOR THE ADD COLLECTION MODAL COMPONENT */
.add-collection-form-box{
  width: 70%;
  margin: 0 auto;
}
.add-collection-field-inputs{
  border: 2px solid black;
  border-radius: 20px;
}

/* STYLING EditProfileModal COMPONENT */
.edit-profile-img-comtanier {
  width: 150px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  /* margin-top: 10px; */
}
.edit-profile-img-comtanier img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 70px;
}
.user-name{
  text-align: center;
  margin-left: -20px;
}
.edit-profile-form-box{
  width: 70%;
  margin: 0 auto;
}
.edit-profile-form{
  width: 70%;
  margin: 0 auto;
}
.edit-profile-field-inputs{
  border: 1px solid black;
  border-radius: 10px;
}